*{
	box-sizing: border-box;
}
body, html{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	border: 0.6px solid;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
	padding-right: 100px;
}
header>div{
	flex: none;
}

header>ul{
	display:flex;
	justify-content: space-between;
	list-style: none;
}
.list-item + .list-item {
	padding-left: 80px;
}


/*ul>li{
	display: flex;
	justify-content: space-around;
}*/

/*header>ul>li{
	
	flex: 1;
	list-style: none;
}*/

/*header> ul>.image{
	flex: 3;
}*/

/**{

	box-sizing: border-box;
}

body{

	display: flex;
	justify-content: space-around;
	align-items:center;
	min-height: 100vh;
	list-style: none;
}*/